.slider-image {
    height: 500px;
}


.card-image {
    height: 200px;
}
h2{
    color: red;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

input {
    width: 200px;
    padding: 0;
    margin: 10px;
}
